service_name        = "ai-agents"
project_id          = "<PROJECT_ID>"
region              = "<REGION>" 
firestore_database  = "(default)"
db_password  = "postgres"
db_user      = "postgres"
db_database  = "ai_agent"
