<!DOCTYPE html>
<html lang="en">
	<head>
        <script type="importmap"> { "imports": { "three": "https://cdn.jsdelivr.net/npm/three@0.166.0/build/three.module.js", "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.166.0/examples/jsm/" } } </script>
        <script src="https://unpkg.com/lil-gui@0.19.2/dist/lil-gui.umd.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/lil-gui@0.19.2/dist/lil-gui.min.css">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <meta charset="utf-8">
        <title>AI Agent - Cymbal Game Studios - My 3D Characters</title>
        <style>
            body { margin: 0; }
        </style>
	</head>
	<body>
		<script type="module" src="/static/js/main.js"></script>
	</body>
</html>